{{- if .Site.Params.widgets.tags }}
<div class="widget-taglist widget">
	<h4 class="widget__title">Promo</h4>
	<div class="widget__content">
   <a href="https://www.packtpub.com/web-development/mastering-mean-web-development-expert-full-stack-javascript-video">
   <img src="/images/mastering_mean_cover.jpg" alt="Mastering MEAN: Expert Full Stack Javascript" />
   </a>
	</div>
</div>
{{- end }}
