{{- if .Site.Params.widgets.tags }}
{{- if isset .Site.Taxonomies "tags" }}
{{- if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="widget-stackoverflow widget">
  <a href="https://stackoverflow.com/users/179335/shane-stillwell">
  <img src="https://stackoverflow.com/users/flair/179335.png?theme=clean" width="208" height="58" alt="profile for Shane Stillwell at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Shane Stillwell at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
</div>
{{- end }}
{{- end }}
{{- end }}
