{{- if .Site.Params.widgets.tags }}
{{- if isset .Site.Taxonomies "tags" }}
{{- if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="widget-taglist widget">
	<h4 class="widget__title">Tags</h4>
	<div class="widget__content">
		{{- range $name, $items := .Site.Taxonomies.tags }}
		<a class="widget__link widget__link--taglist" href="{{ "tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}{{ if $.Site.Params.widgets.tags_counter }} ({{ $items.Count }}){{ end }}</a>
		{{- end }}
	</div>
</div>
{{- end }}
{{- end }}
{{- end }}
