{{ partial "header.html" . }}

<main class="main-content" role="main" itemprop="mainContentOfPage">
	<article class="post">
		<header class="post__header clearfix">
			<h1 class="post__title">{{ .Title }}</h1>
		</header>
		<div class="post__content clearfix">
			{{- if .Params.thumbnail }}
			<figure class="post__thumbnail">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
			</figure>
			{{- end }}
			{{ .Content }}
		</div>
	</article>
</main>
{{ partial "footer.html" . }}
