.widget-stackoverflow {
  text-align: right;
}

em {
  font-style: italic;
}

.oldpost {
  margin: 0px;
  padding: 50px;
  background-color: #CD5C5C;
  color: #fff;
}

.oldpost h3 {
  color: #fff;
  font-size: 48px;
}

.post__title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.list__header .list__title.draft {
  background-color: #e64946;
}
.list__header .list__title.draft a {
  color: white;
}

.widget-recent .widget__link {
  text-transform: capitalize;
}

.highlight pre,
code {
  font-family: "Source Code Pro","Monaco","Inconsolata",monospace;
  font-size: 0.9em;
}

:not(pre) > code {
  display: inline;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #d0d0d0;
  color: #2c2c2c;
}
.widget__link--taglist {
  text-transform: none !important;
}

body {
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

a.anchor {
  display: none;
}

a.anchor i.fa {
  color: #000;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  text-decoration: none;
  display: inline-block;
}

color: #ff0000;
margin-bottom: 20px;
margin-bottom: 1.25rem;
background: #f5f5f5;
border: 1px solid #ebebeb;
padding: 20px;
padding: 1.25rem;
white-space: pre-wrap;
white-space: -o-pre-wrap;
white-space: -moz-pre-wrap;
white-space: -webkit-pre-wrap;

