{{ partial "header.html" . }}

<main class="main-content" role="main" itemprop="mainContentOfPage">
  <article class="post">
    <header class="post__header clearfix">
      <h1 class="post__title">{{ .Title }}</h1>

      {{ $title := .Title }}
      {{ with .Resources.GetMatch "images/thumbnail.*" }}
      <figure class="post__thumbnail">
        <img src="{{ .RelPermalink }}" alt="{{ $title }}">
      </figure>
      {{ end }}
      {{ partial "old-content.html" . }}

      {{- if or (not .Date.IsZero) .Params.categories }}
      <p class="post__meta meta">
        {{- if not .Date.IsZero }}
        <svg class="icon icon-time" height="14" viewBox="0 0 16 16" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m8-.0000003c-4.4 0-8 3.6-8 8 0 4.4000003 3.6 8.0000003 8 8.0000003 4.4 0 8-3.6 8-8.0000003 0-4.4-3.6-8-8-8zm0 14.4000003c-3.52 0-6.4-2.88-6.4-6.4000003 0-3.52 2.88-6.4 6.4-6.4 3.52 0 6.4 2.88 6.4 6.4 0 3.5200003-2.88 6.4000003-6.4 6.4000003zm.4-10.4000003h-1.2v4.8l4.16 2.5600003.64-1.04-3.6-2.1600003z"/></svg>
        <time class="post__meta-date" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
        {{- if ne .Date .Lastmod }}
          <time class="post__meta-lastmod" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}"> (Last Modified: {{.Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006")}})</time>
        {{- end }}
        {{- end }}
        {{- if .Params.categories }}
        <span class="post__meta-categories meta-categories">
          <svg class="icon icon-category" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m7 2l1 2h8v11h-16v-13z"/></svg>
          {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a class="meta-categories__link" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}</span>
        {{- end }}
      </p>
      {{- end }}
    </header>
    <div class="post__content clearfix">


      {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}&nbsp;<a class="anchor" href="#${2}" ariaLabel="Anchor" title="Permalink"><i class="fa fa-link"></i></a> ${3}` | safeHTML }}
      </div>
      {{- end -}}

    </div>
    {{ partial "post_tags.html" . }}
  </article>
  {{ partial "authorbox.html" . }}
  {{ partial "post_nav.html" . }}
  {{ partial "comments.html" . }}
</main>

{{ partial "footer.html" . }}
