{{ if .Date.Before (now.AddDate -5 0 0) }}
<section class="oldpost">
  <h3>Hold on Cowboy</h3>
  <p>This blog post is pretty old. Be careful with the information you find in here. It's likely dead, dying, or wildly inaccurate.
</section>
{{ end }}
