<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	{{ partial "widgets/search.html" . }}
	{{ partial "widgets/promo.html" . }}
	{{ partial "widgets/social.html" . }}
	{{ partial "widgets/recent.html" . }}
	{{ partial "widgets/categories.html" . }}
	{{ partial "widgets/taglist.html" . }}
	{{ partial "widgets/stackoverflow.html" . }}

	{{- if and (not .Site.Params.widgets.search) (not .Site.Params.widgets.recent_articles) (not .Site.Params.widgets.categories) (not .Site.Params.widgets.social) (not .Site.Params.widgets.taglist) }}
	<p class="sidebar__warning"><strong>WARNING:</strong><br>Please activate at least one sidebar widget.</p>
	{{- end }}
</aside>
