{{ $permalink := .Permalink }}
{{ $title := .Title }}
{{ with .Resources.GetMatch "images/thumbnail.*" }}
{{ $image :=  .Resize "678x" }}
<figure class="xlist__thumbnail">
  <a href="{{ $permalink }}">
    <img src="{{ $image.RelPermalink }}" alt="{{ $title }}" />
  </a>
</figure>
{{ end }}
